div.DraftEditor-root {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  height: 80px;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font: inherit;
  font-size: 1rem;
  padding: 5px;
  overflow-y: auto;
}

.editorBorder:focus-within {
    border: 2px solid #3f51b5;
}