@font-face {
    font-family: bituminaFont;
    src: url(./Montserrat/Montserrat.woff);
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    transform-style: preserve-3d;
    /* overflow-y: scroll; */
}
html{
    /* scroll-behavior: smooth; */
    width: 100%;
    margin: 0;
    padding: 0;
}
/*
::-webkit-scrollbar {
    width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4D4D4D;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4D4D4D;
}

.header{
    width: 100%;
    background-color: #4D4D4D;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.respHeader{
    top: 0;
    display: none;
    width: 100%;
    background-color: #4D4D4D;
    color: white;
    padding: 10px 0;
    position: fixed;
    z-index: 1000;
    align-items: center;
}
@media (max-width: 1080px) {
    .respHeader{
        display: flex;
    }
    .header{
        display: none;
    }
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    -moz-box-shadow:    15px 0 15px 0 rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 15px 0 15px 0 rgba(0, 0, 0, 0.11);
    box-shadow:         15px 0 15px 0 rgba(0, 0, 0, 0.11);
}

.overlay-content {
    position: relative;
    width: 100%;
    padding: 30px;
}

.overlay a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #3d3d3d;
    display: block;
    transition: 0.3s;
}
.overlay a:hover{
    background: rgba(61, 61, 61, 0.22);
}
.overlay a i{
    margin-right: 10px;
    color: #ed1c24 !important;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* NAVIGATION */
nav {
    width: 100%;
}
nav ul {
    list-style: none;
    text-align: right;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #ed1c24;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ed1c24;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

.homeBanner{
    height: calc(100vh - 80px);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    margin-top: 80px;
}


.redButton{
    text-transform: inherit !important;
    font-size: 12px !important;
    background-color: #ed1c24 !important;
    height: 50px;
    font-weight: bold !important;
}
.redButton i{
    font-size: 12px !important;
    margin-left: 20px;
}

.whiteButton{
    text-transform: inherit !important;
    font-size: 12px !important;
    background-color: #ffffff !important;
    height: 50px;
    margin-left: 20px !important;
    font-weight: bold !important;
}
.whiteButton i{
    font-size: 12px !important;
    margin-left: 20px;
}

.cardBtn{
    font-weight: bold !important;
    text-transform: inherit !important;
    font-size: 12px !important;
}
.cardBtn i{
    margin-left: 20px;
    background-color: #ed1c24 !important;
    color: #ffffff;
    padding: 5px;
    border-radius: 100%;
    font-size: 12px !important;
}
.cardBtn:hover{
    background-color: #ed1c24 !important;
    color: #ffffff !important;
}
.cardBtn:hover i{
    background-color: #ffffff !important;
    color: #ed1c24;
}

.bannerText{
    position: absolute;
    top: 38%;
    left: 10%;
    width: 100%;
    z-index: 1;
}
.bannerText h1{
    width: 100%;
    color: white;
    font-size: 50px;
    line-height: 55px;
}
.owl-pagination {
    margin-top: -20px !important;
}
.soliacBtn{
    width: 45px !important;
    height: 45px !important;
    background-color: #ed1c24 !important;
    margin-right: 10px !important;
}
.fb-btn {
    background-color: #3b5998 !important;
}

.twitter-btn {
    background-color: #00ACEE !important;
}

.instagram-btn {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.soliacBtn i {
    font-size: 16px !important;
    color: #ffffff;
}
.footerInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;

}
.footerInput input{
    width: 80%;
    border-radius: 6px;
    outline: none;
    border-color: transparent;
}
.footerInput i{
    color: #ffffff !important;
    font-size: 12px;
    padding: 5px;
}
.footerInput Button{
    padding: 0 !important;
}

.projectBanner{
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 60vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(0,0,0,.6),rgba(0,0,0,.6)), url("../img/cover-project.jpg");
    display: flex;
    align-items: center;
}
.projectBanner h1{
    color: white;
    line-height: 45px;
    text-transform: uppercase;
}
.projectBanner h2{
    text-align: center;
}
.projectImageItem{
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    height: 40vh;
}
.projectImageItem img{
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.projectImageItem img{
   height: 100%;
   object-fit: cover;
}

.imgHover{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: 0.3s;
}
.imgHover i{
    color: white;
    font-size: 25px;
}
.projectImageItem:hover .imgHover{
    display: flex;
    transition: 0.3s;
}
.iconBtn{
    background: rgba(77, 77, 77, 0.6) !important;
}
.aboutImg{
    position: relative;
    width: 100%;
    background-image: url("../img/about/imgvideo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 3s;
}
.imgLinear{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    opacity: 0.1;
    transition: 0.5s;
    z-index: 1;
}
.aboutImg:hover .imgLinear{
    opacity: 0.4;
}
.aboutImg:hover i{
    transform: scale(1.2);
}
.aboutImg i{
    cursor: pointer;
    z-index: 2;
    font-size: 50px;
    color: #ed1c24;
    transition: .5s;
}
.aboutBanner{
    position: relative;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0)), url("../img/about/aboutban.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutBanner h1{
    margin-top: 50px;
    color: #ffffff;
    font-size: 36px;
    text-shadow: 5px 5px 5px rgba(0,0,0,.8);

}
.ceoText{
    width: 100%;
    height: 100%;
}

.custom-card-title {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.custom-card-body {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
}
.detail-body-text {
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
    font-size: 18px;
    color: rgba(0,0,0,0.60) !important;
}
h2{
    color: #ed1c24;
}
.h3{
   color: #ed1c24;
}
.aboutWorkContainer{
    background: #fafafa;
    padding: 10vh 0;
}
.aboutContainer{
    padding: 10vh 0;
}
.contentBack h2{
    margin: 0;
    text-transform: uppercase;
    color: black;
}
@media (max-width: 900px) {
    .whiteButton{
        margin-left: 0 !important;
    }
    .bannerText h1{
        margin-top: 50px;
        font-size: 28px;
        line-height: 120%;
    }
    .bannerButtons {
        display: flex;
        align-items: center;
    }
    .bannerButtons button {
        height: 40px;
        width: 80%;
        font-size: 10px !important;
    }
    .bannerButtons .rightBtn {
        width: 100% !important;
    }

    .ceoText{
        padding-left: 0;
    }
    .ceoText h1{
        font-size: 20px;
    }
    .aboutWorkContainer{
        background: #fafafa;
        padding: 20px 0;
    }
    .aboutContainer h1{
        font-size: 20px;
    }
    .projectBanner{
        width: 100vw;
    }
    .contentBack{
        padding: 0 20px;
    }
    .redButton{
        margin-right: 20px !important;
        padding: 4px 14px !important;
    }
    .respHeader {
        position: absolute;
    }
}
.employeeImg{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.employeeImg img{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.empHover{
    position: absolute;
    color: white;
    z-index: 2;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,.3), rgba(0,0,0,.3));
    transition: 0.5s;
}
.empHoverText{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.empHoverText h3{
    margin: 0;
}
.employeeImg:hover .empHover{
    opacity: 1;
}
.dialog{
    width: 100%;
    height: 500px;
    z-index: 1000;
}
.closeDialog{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
}
.closeDialog i{
    color: white !important;
}
.galleryItem{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.contact label{
    margin-left: 20px;
    color: #7d7d7d;
}
.contact .contactIcon{
    padding: 10px;
    background: #ed1c24;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.contactIcon i{
    color: white !important;
}
.contactHome{
    color: white;
}
.contactHome i{
    margin-right: 20px;
}
.projectTitle{
    padding-top: 80px;
}
.grayBg{
    display: block;
    position: relative;
    background: #fafafa;
    padding-bottom: 100px;
}
.whiteBg{
    display: block;
    position: relative;
    background: #ffffff;
    padding: 50px 0 100px 0;
}

.logo1{
    background-image: url("../img/home/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    transition: 0.1s;
}
.logo2{
    background-image: url("../img/home/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    transition: 0.1s;
}
.logo3{
    background-image: url("../img/home/logo3.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    transition: 0.1s;
}
.logo4{
    background-image: url("../img/home/logo4.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    transition: 0.1s;
}
.logo1:hover{
    background-image: url("../img/home/logohover1.png");
    transition: 0.1s;
}
.logo2:hover{
    background-image: url("../img/home/logohover2.png");
    transition: 0.1s;
}
.logo3:hover{
    background-image: url("../img/home/logohover3.png");
    transition: 0.1s;
}
.logo4:hover{
    background-image: url("../img/home/logohover4.png");
    transition: 0.1s;
}

@media (max-width: 768px){
    .homeBanner{
        margin-top: 87px;
        height: 50vh;
    }
    .bannerText{
        top: calc(30vh - 88px);
        left: 20px;
    }
}
