.navbar {
    height: 50px; 
    display: flex; 
    align-items: center; 
    flex-direction: row; 
    margin-bottom: 10px; 
    background-color: #eeeeee; 
    color: #000000;
}

.nav-item-link {
    text-decoration: none;
}

.nav-item {
    padding: 0px 10px;
    margin: 0px 10px;
    height: 36px;
    border: 0px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.7);
}