.controlButton {
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.5);
}
.controlButton:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.controlButtonMulti {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.5);
}
.controlButtonMulti:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}
.fileInput:active {
    border: 2px solid #3f51b5;
}
.fileInput:focus-within {
    border: 2px solid #3f51b5;
}
.fileInput:focus {
    border: 2px solid #3f51b5;
}