html, body {
    margin: 0;
    padding: 0;
}

.login-bg {
    background-color: #efefef;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.login-panel {
    padding-top: 30px; 
    width: 400px;
    text-align: center;
}
.login-input-group {
    margin-bottom: 16px;
}

.login-input {
    width: 300px;
    margin: 10px 16px;
}

.login-btn {
    width: 300px;
    margin: 0px 16px;
}

.login-error {
    margin: 0 34px;
}